<!DOCTYPE html>
<html>

<head>  
    <title> Register </title>
</head>

<body> 
    <form action ="/register" method="POST">
        <div>
        <label for="username">enter username</label>
        <input type ="text" name="username" id="username" place=""
    </form>
    </body>
</div>

        <div>
            <label for="password">enter pw</label>
            <input type ="text" name="password" id="password" placeholder="password"
        </form>
        </body>
    </div>
    <button>Sign Up</button>
</body>


</html> 